@use "variables";
:root {

  line-height: 1.5;

  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color) !important;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  font-size: 1rem;
}
html{
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main-content{
  max-width: 1440px;
  margin: auto auto;
  height: calc(100% - 90px);
}
header{
  margin: 5px auto;
}