:root{
  --background-color:#242424;
  --text-color:rgba(255, 255, 255, 0.87);
  --opposite-color:white;
  --call-to-action:#a842f8;
  &.light {
    --background-color:white;
    --text-color:#191919;
    --opposite-color:black;
  }
}

/*
@media (prefers-color-scheme: dark) {

}*/
